{% extends "template.twig" %}
{% block content %}
    <div class="col-md-12 order-md-1 mb-4">
        <div class="row mb-2 py-3">
            <div class="col-md-1"><span class="badge badge-info badge-pill" data-toggle="tooltip" data-placement="top" title="Tooltip on top">{{ countDataRows }}</span></div>
            <div class="col-md-4">
                <select class="form-control">
                    <option value="list">List</option>
                    <option value="card">Card</option>
                </select>
            </div>

        </div>

{#        <ul class="list-group mb-3 listTask">
            {% include 'main/head.twig' %}
            {% include 'main/list.twig' %}
        </ul>#}
        <div class="card-deck mb-3 text-center">
            {% include 'main/card.twig' %}
        </div>
        {% include 'main/pagination.twig' %}
    </div>
{% endblock %}